<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Medical devices calculator {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/calculator.css' %}">
<!--    <img src="media/image/geometriya.jpg" alt="geometriya">-->
</head>
<body>
{% block content %}
{% endblock content %}

</body>
</html>