{% extends 'blog/base.html' %}

{% block content %}
    {% for post in object_list %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>

         <div>
            {% for comment in post.comments.all %}
            <p>
                {{ comment.author }}
                {{ comment }}
            </p>
            {% endfor %}
        </div>
            <br>
    {% endfor %}
{% endblock content %}

